
.sponsors-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap; 
  gap: 16px; 
  overflow-x: auto; 
}


.sponsor-item {
  flex: 1;
  min-width: 0; 
}

.sponsor-image {
  width: 100%;
  height: 150px;
  object-fit: contain;
}
